{
	"handlers": {
		"/enwiki/page/": {
			"backend": {
				"type": "cassandra",
				"options": {
					"hosts": ["localhost"],
					"keyspace": "testdb",
					"username": "test",
					"password": "test",
					"poolSize": 1,
					"consistencies": {
						"read": "one",
						"write": "one"
					}
				}
			}
		}
	}
}
